header.header
    .navbar
        ul.header__nav
            li.header__nav_item.active 
                a(href="http://") Калькулятор
            li.header__nav_item 
                a(href="http://") Доставка
            li.header__nav_item 
                a(href="http://") Отзывы
            li.header__nav_item 
                a(href="http://") Контакты
        .header__contacts
            p.header__contact_email manager@begushaya-stroka-com
            p.header__contact_phone 8 (960) 
                span 523 16 66
            p.header__contact_form заказать звонок
    .header__title= "светодиодная реклама и бегущие строки в " + city.city
    